/* Top UI */
body{
    background-color: #5A3DBD;
}
#topUI {
    flex-direction: row;
    justify-content: space-between;

}

/* hide contentJournal content */
#contentJournal {
    display: none;
}

.historyBtn{
    font-weight: bold;
    padding: 10px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
}

.btnDivider{
    color: white;
    font-size: 30px;
}

.buttonBox{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contentExercise {
    background-color: white;
    margin: 30px 20px;
    border-radius: 10px;
    padding: 20px;

}

.eachJournal{
    background-color: white;
    margin: 30px 20px;
    border-radius: 10px;
    padding: 20px;    
    
}

.activatedBtn{
    font-weight: bold;
    padding: 10px;
    border-radius: 100px;
    background-color: white;
    color: #5A3DBD;
    border: 1px solid white;
    padding: 10px 20px;

}
.historyTitle{
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/* exercise content css */
#contentExercise *{
    font-weight: 500;
    font-size: 50px;

}

#workOutDays{
    color:darkcyan;
    font-weight: bold;
}

/* mood content css */
.eachJournal{
    display: flex;
    flex-direction: row;
}
.eachJournal p{
    width:70%;
    display: inline-block;
    ;
}
.eachJournal button{
    background-color: transparent;
    border: none;
    margin-right: 10px;
}
.eachJournal button span{
    color:#5A3DBD;

}
