
/* Character Avatar */
#avatar {
    display: flex;
    justify-content: center;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

/* Footer */
#footer {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    background-color: white;
}

#dailyScreen{
    width: 90%;
    margin: auto;
    padding: 30px 20px;
    border-radius: 10px;
    border-color: #5A3DBD;
}

#dailyScreen h1{
    color: #5A3DBD;
    font-weight: bold;
    font-size: 40px;
    
}
.completeBtn{
    background-color: white;
    border-color: #5A3DBD;
    color: #5A3DBD;
    padding: 5px;
    border-radius: 50px;
}
#dailyScreenTopUI{

}
#closeButton{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #5A3DBD;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;


}

#dailyBox{
    background-color: #5A3DBD;
    border-radius: 10px;
    margin-top: 10px;

}

#alertIcon{
    color: white !important;
}

#characterImg{
    width: 130%;
}