

/* Footer */
#footer {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-top: 3px solid #5A3DBD;
}

#background{
    width: 100%;
    height: 95%;
}

#dailyScreen{
    width: 90%;
    margin: auto;
    padding: 30px 20px;
    border-radius: 10px;
    border-color: #5A3DBD;
}

#dailyScreen h1{
    color: #5A3DBD;
    font-weight: bold;
    font-size: 40px;
    
}

.completeBtn{
    background-color: white;
    border-color: #5A3DBD;
    color: #5A3DBD;
    padding: 5px;
    border-radius: 50px;
}

#closeButton{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #5A3DBD;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;


}

#dailyBox{
    background-color: #5A3DBD;
    border-radius: 10px;
    margin-top: 10px;

}

#alertIcon{
    color: white !important;
}

#checkIcon{
    color: white !important;
}

/* character css */
#avatar {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.placeholder {
    height: 370px;

    width: 100%;
}

.dressing {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 70%;
}
.dressing img {
    width: 100%;

}
#character, #shoes, #top, #bottom{
    width: 70%;
}
#pet{
    display: flex;
    justify-content: end;
}
#dog{
    width: 40%;
}
/* journal window css */
#journalScreen{
    width: 90%;
    margin: auto;
    padding: 30px 20px;
    border-radius: 10px;
    border-color: #5A3DBD;
    background-color: #5A3DBD;
}

#journalScreen h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    
}
#journalEntry{
    width: 90%;
    margin-top: 10px;
    border-color: #5A3DBD;
    border-radius: 5px;
    border-width: 2px;
    font-size: 24px;
    color:#5A3DBD;
    padding: 10px;
    font-style: italic;

}
#moodDiv{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
#moodDiv span{
    color: white;
}
.moodButton{
    background-color: transparent;
    border: 0px solid white;
    padding: 2px;
}

#closeJournalButton{
    margin-top: 20px;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.divider{
    margin: 8px;
    width: 90%;

}
#dailyScreenTopUI{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
/* dressing window css */
.activated{
    color: #5A3DBD;
    font-weight: bold;
}

.moodSelected span{
    color: orange !important;

}

/* wardrobe */

#wardrobeScreen {
    border: none;
}

#wardrobeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:100%;
    height: 100%;
    border-bottom: 3px solid #5A3DBD;
}

#itemCategories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#items {
    height: 100%;
}