
/* Top UI */
#topUI {
    flex-direction: row;
    justify-content: space-between;

}

/* Middle UI */
#middleUI {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #5A3DBD;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

#bannerPhoto {
    width: 100%;
    border-radius: 1rem;
}

#banner h1 {
    position: absolute;
    top: 13%;
}

#pullButtons {
    display: flex;
    flex-direction: row;
}

#pullButtons button {
    margin: 1rem 2rem;
    border: 1px solid black;
    padding: 1em;
    border-radius: 5rem;
    color: #5A3DBD;
    background-color: white;
}


