#wardrobeScreen {
    position:fixed;
    bottom: 8.8%;
    height: 15%;
    width: 100%;
}

#wardrobeContainer {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}